#header {
    position: fixed;
    top: 0;
}

#card_list {
    overflow-y: auto;
    height: 500px;
    scroll-behavior: smooth;
}


button {
    /*ボタンの枠デザインのカット*/
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    line-height: 1.4em;
    outline: none;
    overflow: hidden;
    padding: 0 24px;
    position: relative;
}

button.active {
    border-bottom: 4px solid;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.tabList {
    display: flex;
}

.scroll-icon {
    /*デフォルトで非表示にする*/
    opacity: 0;
    visibility: hidden;
}

.scroll-active {
    opacity: 1;
    visibility: visible;
}